<!-- components/header.html -->
<link rel="stylesheet" href="css/header.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<header class="header">
    <!-- Logo Section -->
    <div class="logo">
        <a href="index.html"> <img style="border-radius: 5px" src="assets/Hichem.png" alt="Your Logo" /></a>

    </div>

    <!-- Hamburger Menu -->
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Navigation Links -->
    <nav class="nav-links" id="nav-links">
        <div class="nav-header">
        <span class="close-nav" id="close-nav">
            <i class="fas fa-times"></i>
        </span>
        </div>
        <a href="index.html"><i class="fas fa-code"></i> <span class="selected">&lt;Home&gt;</span></a>
        <a href="about.html"><i class="fas fa-terminal"></i> <span>&lt;About&gt;</span></a>
        <a href="skills.html"><i class="fas fa-cogs"></i> <span>&lt;Skills&gt;</span></a>
        <a href="qualifications.html"><i class="fas fa-database"></i> <span>&lt;Qualifications&gt;</span></a>
        <a href="interests.html"><i class="fas fa-heartbeat"></i> <span>&lt;Interests&gt;</span></a>
        <a href="index.html#testimonials"><i class="fas fa-comments"></i> <span>&lt;Testimonials&gt;</span></a>
        <a href="contact.html"><i class="fas fa-envelope-open-text"></i> <span >&lt;Contact&gt;</span></a>
        <!-- Divider -->
        <hr class="menu-divider">

        <!-- Social Icons for Popup -->
        <div class="social-icons-popup">
<!--            <div class="nav-search">-->
<!--                <div class="search-container" style="top: 60px;left:10px" id="searchContainer">-->
<!--                    <input-->
<!--                            type="text"-->
<!--                            id="searchInput"-->
<!--                            placeholder="Enter page name (e.g., about)"-->
<!--                    />-->
<!--                    <span class="suffix">.html</span>-->
<!--                    <button id="searchButton">-->
<!--                        <i class="fas fa-arrow-right"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <button id="toggleSearch" class="toggle-search">-->
<!--                    <i class="fas fa-search"></i>-->
<!--                </button>-->


<!--            </div>-->


            <a href="https://www.linkedin.com/in/hichem-elwerghi/" target="_blank" class="icon linkedin" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://x.com/HichemElwerghi" target="_blank" class="icon x" aria-label="X">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="contact-icon icon" title="Contact Me">
                <i class="fas fa-envelope"></i>
            </a>

            <div class="icon sympli" aria-label="Sympli">
                <i class="fa-solid fa-info fa-sympl" style="cursor: help"></i>
                <span class="tooltip">Web Principles Module - University of Staffordshire</span>
            </div>
        </div>
    </nav>


    <!-- Social Icons for Desktop -->
    <div class="social-icons">

        <!-- Search Field -->
        <div class="nav-search">
            <div class="search-container" id="searchContainer">
                <input
                        type="text"
                        id="searchInput"
                        placeholder="Enter page name (e.g., about)"
                />
                <span class="suffix">.html</span>
                <button id="searchButton">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
            <button id="toggleSearch" class="toggle-search" title="Navigate">
                <i class="fas fa-search"></i>
            </button>


        </div>
        <a href="https://www.linkedin.com/in/hichem-elwerghi/" target="_blank" class="icon linkedin" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://x.com/HichemElwerghi" target="_blank" class="icon x" aria-label="X">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="contact-icon icon" title="Contact Me">
            <i class="fas fa-envelope"></i>
        </a>

        <div class="icon sympli" aria-label="Sympli">
            <i class="fa-solid fa-info fa-sympl" style="cursor: help"></i>
            <span class="tooltip">Web Principles Module - University of Staffordshire</span>
        </div>
    </div>
</header>

<div id="contact-form-component"></div>
